@model WebEcom.Models.ProductModel

@{
    ViewBag.Title = "";
}

<h2>Your cart</h2>
<table width="90%" align="center">
    <thead>
        <tr>
        <th align="center">Quantity</th>
        <th align="left">Item</th>
        <th align="right">Price</th>
        <th align="right">Subtotal</th>
        </tr>
    </thead>
        <tbody>
            @foreach (var line in Model.cart.lines)
            {
                <tr>
                    <td align="center">@line.Quantity</td>
                    <td align="left">@line.Product.Product_Name</td>
                    <td align="right">@line.Product.Product_price.ToString()</td>
                    <td align="right">
                        @(line.Quantity * line.Product.Product_price)</td>
                </tr > 
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3" align="right">Total:</td>
                <td align="right">
                @Model.cart.TotalValue().ToString()</td>
            </tr>
         </tfoot>
</table>
<p align="center" class="btn btn-danger">
    <a href="@Model.ReturnUrl">Continue shopping</a>
</p>